body{
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: rgb(143, 42, 16);
}

.navbar .nav-item .nav-link{
    color: whitesmoke;
    font-size: 25px;
}
.quem-somos{
    background-color: rgb(15, 151, 106);
    color: whitesmoke;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}
.parceiros{
    background-color: blueviolet;
    color: whitesmoke;
}
.servicos{
    background-color: burlywood ;
    color: whitesmoke;
}
.bg-footer{
    background-color: black;
    color: whitesmoke;
}